body{
  padding: 1%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-container img {

  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.logo-container span{
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.nav-links a {
  text-decoration: none;
  margin: 0px 5px;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

.nav-links a:hover{
  text-decoration: underline;
  color: blue;
} 

.big-text {
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
  color:seagreen;
  font-family: 'comic neue', cursive, sans-serif;
}

.container{
  display: flex;
  border: 2px solid;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  
}
.column{
  flex: 1;
  border-radius: 5px;
  border-right: 2px solid;
  
}
.column.right-column{
  border-right: none;
}
.column h3{
  text-align: center;
  color: #333;
  margin-top: 0;
  margin-bottom: 30px;
}

.column ul{
  list-style: none;
  padding: 2px;
}

.column ul li {
  padding: 8px 0;
  border-bottom: 2px solid;
}

.right-column ul {
  list-style-type: disc; /* normal bullets */
  padding-left: 30px;    /* indent bullets */
  margin-top: 8px;
  margin-bottom: 16px;
}

.right-column ul li {
  padding: 4px 0;        /* space between items */
  border: none;          /* remove any inherited bottom borders */
}

.column ul li:last-child{
  border-bottom: none;
}